body {font-family:arial,helvetica,sans-serif; 
    background-color: #181818;}
A {color: rgb(50, 80, 200); text-decoration: none; }    
.tableRoot {
    margin: 0 auto; 
    width: 850px; 
    background: #202020; 
    border: solid #202020;
    border-radius: 10px;
    color: whitesmoke;
}
.title {font-family:Times, serif; 
      font-size:300%; 
      font-weight:bold; 
      background: #202020;
      padding-left: 15px;}
.title A {color: rgb(50, 80, 200); 
        text-decoration: none;}
.tableNav {text-align: left; 
         background: #181818; 
         border-width: 0px;
        border-radius:  5px;}
.tableNav A {color: rgb(50, 80, 200); 
           text-decoration: none;}
.tableNav A:hover {color: rgb(50, 80, 200); 
                 text-decoration: underline; }
.tableNav TR TD {padding-left: 15px; }
.content {padding: 18px;
        padding-top: 10px; 
        text-align: left; 
        text-indent: 0px; 
        margin: 10px; }
.footer {font-size:small; 
       text-align: right;  
       background: #181818; 
       padding: 5px; }
.footer A {text-decoration: none;
         color: rgbrgb(50, 80, 200); }
.downloadTable {border-collapse:collapse;}
.downloadLineFirst {background-color: #181818}
.downloadLineFile {width: 14em; }
.downloadLineFileFirst {width: 14em;}
.downloadLineDownloadFirst {font-weight: bold;}
.downloadLineMirror {width: 5em; }
.downloadLineDate {width: 10em; font-size: 80%;}
.downloadLineChangelog {width: 6em;}
LI STRONG {line-height: 200%;}
.tableDownload {margin: 0 auto; }
.tableDonate TR {height: 35px; }
.scaleNearest {  
               image-rendering:optimizeSpeed;             /* Legal fallback                 */
               image-rendering:-moz-crisp-edges;          /* Firefox                        */
               image-rendering:-o-crisp-edges;            /* Opera                          */
               image-rendering:-webkit-optimize-contrast; /* Chrome (and eventually Safari) */
               image-rendering:optimize-contrast;         /* CSS3 Proposed                  */
               -ms-interpolation-mode:nearest-neighbor;   /* IE8+                           */
               image-rendering:pixelated;                 /* Chrome 41+, Firefox            */
            }
.tableData {border-collapse:collapse;}
.tableData th {background-color:rgb(240, 240, 255)}
.tableData, .tableData th, .tableData td {border: 1px solid black;}
.tableData th, .tableData td {padding:5px;}
.tableDataDis {background-color:rgb(220, 220, 220)}